.inner{
  height: auto;
  min-height: 50px;
  background-color: var(--orange-color);
  padding: 5px;
  display: flex;
}
.destination{
  width: 35%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--light-color);
  padding: 5px;
  border-radius: 5px;

  mat-icon{
    color: var(--gray-color);
  }
}
.search{
  flex:1;
  height: 100%;
  border: none;
}
.search:focus{
  outline: none;
}
.dates{
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--light-color);
  padding: 5px;
  border-radius: 5px;
}
.separator{
  width: 5px;
}
.visitors{
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--light-color);
  padding: 5px;
  border-radius: 5px;
  justify-content: space-between;
  cursor: pointer;

  mat-icon{
    color: var(--gray-color);
  }
}
.search-button{
  width: 15%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--light-color);
  border-radius: 5px;
  justify-content: space-between;
  cursor: pointer;
}
.search-btn{
  flex:1;
  background-color: var(--background-color);
  color: var(--light-color);
  height: 100%;
  border: none;
  border-radius: 5px;
}
.visitor-widget{
  width: 250px;
  height: 170px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.widget{
  height: 30px;
  border: 1px solid var(--gray-color);
  width: 100px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}
.row-element{
  display:flex;
  height: 40px;
  align-items: center;
}
.left-side{

}
.tool-btn{
  border: none;
  background: none;
  color: var(--background-color);
  border-radius: 100%;
  width: 20px;
  height: 20px;
}
.tool-btn:hover{
  background-color: rgba(6,81,221,0.1);
}
.right-side{
  flex:1;
  display: flex;
  justify-content: flex-end;
}
.done{
  flex:1;
  background-color: var(--background-color);
  color: var(--light-color);
  height: 100%;
  border: none;
  border-radius: 5px;
}

@media only screen and (max-width:1200px) {
  .destination{
    width: 30%;
  }
  .visitors{
    width: 30%;
  }
}
@media only screen and (max-width:992px) {
  .destination{
    width: 100%;
  }
  .dates{
    width: 100%;
  }
  .visitors{
    width: 100%;
  }
  .search-button{
    width: 100%;
  }
  .inner{
    flex-direction: column;
  }
  .separator{
    height: 5px;
  }
}
