@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

.main-outer {
  width: 100%;
  height: auto;
  min-height: 50px;
  background-color: var(--background-color);
}

.inner-wrapper {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--light-color);
  border-radius: 50px;
  padding: 5px 12px;
}
.tool-outer{
  display: flex;
}
.logo{
  font-family: "Edu NSW ACT Cursive", cursive;
  font-weight: 700;
  color: var(--light-color);
  font-size: 30px;
}

@media only screen and (max-width: 400px) {
  .login-text{
    display: none;
  }
}
